<!DOCTYPE html>
<html>
<head>
    <title>장고 - FastAPI 연동 예제</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
</head>
<body>
{% csrf_token %}
    <h1>입력값 전송:</h1>
    <label for="input_data">입력값:</label>
    <input type="text" id="input_data">
    <button id="submit_button">전송</button>
    
    <h2>결과 출력:</h2>
    
    <div id="result"></div>

    <script>
        // 결과 가져오기 함수
        async function getResult(task_id) {
            const response = await fetch(`/get_result/${task_id}`);
            return await response.json();
        }

        // 결과 출력 함수
        function displayResult(result) {
            $("#result").html(`<pre>${JSON.stringify(result, null, 2)}</pre>`);
        }
        
        // 제출 버튼 이벤트
        $('#submit_button').click(async function () {
          try{
            const input_data = $('#input_data').val();
            const csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            const response = await fetch('/process_request', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token,
                },
                body: JSON.stringify({ input_data: input_data }),
            });

            if (response.ok) {
                const responseData = await response.json();
                const task_id = responseData.task_id;

                let task_result = { ready: false };
                while (!task_result.ready) {
                    task_result = await getResult(task_id);
                    await new Promise(resolve => setTimeout(resolve,3000))
                }

                displayResult(task_result.result);
            } else {
                alert('오류가 발생했습니다. 다시 시도해 주세요.');
            }
        }catch(error){
          console.error('Error',error);
          alert('오류발생')
        }
        });
    </script>
</body>
</html>
