{% extends "navbar.html" %}

{% block title %}Contact{% endblock %}

{% block font %}'Jua', sans-serif{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div align="center" style="margin:0px 0px 0px 0px;">
  <h2 style="color: #333399;">전화주세요</h2>


  <img src="/static/img/단체.jpg" alt="My Image" height="250">
  <div class="content">
  <p> <b>희수</b> : 010-9072-1449<br>
      <b>지빈</b> : 010-8825-0939<br>
      <b>준</b> : 010-5550-4428<br>
      <b>진혁</b> : 010-6369-1790<br>
    
  </p>
  </div>
</div>
{% endblock %}

