{% extends "navbar.html" %}

{% block title %}Main{% endblock %}

{% block font %}'Dongle', sans-serif{% endblock %}

{% block style %}{% endblock %}

{% block content %}
  <ul>
    <li><a href="http://127.0.0.1:8000/page1/" style="font-size: 30px;">희수의 관심사</a></li><br>
    <li><a href="http://127.0.0.1:8000/page2/" style="font-size: 30px;">지빈이의 관심사</a></li><br>
    <li><a href="http://127.0.0.1:8000/page3/" style="font-size: 30px;">오준의 관심사</a></li><br>
    <li><a href="http://127.0.0.1:8000/page4/" style="font-size: 30px;">진혁의 관심사</a></li><br>
  </ul>
{% endblock %}
