{% extends "navbar.html" %}

{% block title %}★진혁's favorite★{% endblock %}

{% block font %}'Jua', sans-serif{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div align="center" style="margin:300px 0px 0px 0px;">
  <h1 style="color: #333399;">★진혁이의 관심사★</h1>
  <img src="/static/img/Trek_마돈.jpg" alt="My Image" height="250">
  <div class="content">
  <p> <b>이름</b> :마돈 SLR AXS 7세대 <br>
      <b>브랜드</b> : Trek <br>
      <b>가격</b> : 19,800,000만원 <br>
      <br>
      <b>프레임</b> : 800 시리즈 OCLV 카본, KVF(캄테일 버추얼 포일) 튜브 모양, <br>
      아이소플로우 시트 튜브, 인비저블 케이블 라우팅, <br>
      3S 공기역학 체인 키퍼, T47 BB, <br>
      플랫 마운트 디스크, 142x12mm 스루 액슬<br>
      <br>
      <b>포크</b> : Madone KVF full carbon, tapered carbon steerer, <br>
      internal brake routing, flat mount disc, <br>
      carbon dropouts, 12x100mm thru axle<br>
      <br>
      <b>프레임 핏</b> : H1.5 레이스<br>
      <br>
      <b>전방 휠</b> : 본트래거 에올루스 RSL 51, OCLV 카본,<br>
      튜블리스 레디, 51mm 림 깊이, 100x12mm 스루 액슬<br>
      <br>
      <b>후방 휠</b> : 본트래거 에올루스 RSL 51, OCLV 카본,<br>
      튜블리스 레디, 51mm 림 깊이, 스램 XD-R 드라이버, 142x12mm 스루 액슬<br>
      <br>
      <b>앞,뒤 스큐어</b> : 본트래거 스위치 스루 액슬, 탈착식 레버<br>
      <br>
      <b>타이어</b> :본트래거 R4 320, 700x25c,Pirelli P Zero Race, 127 tpi,<br>
      700x26c,사이즈: 47, 50, 52, 54, 56, 58, 60, 62 <br>
      <br>
      <b>변속 레버</b> : 스램 레드 eTap AXS, 12단 <br>
      <br>
      <b>브레이크</b> : SRAM Red eTap AXS hydraulic disc, flat mount <br>
  </p>
  </div>
  <div>
  <p> 
      <a href="http://127.0.0.1:8000/" style="font-size: 20px; text-decoration: none; color: #2E2E2E; border: 2px solid #75B1FF; padding: 0 20px; border-radius: 50px; transition: all 0.3s ease-in-out;">▶home◀</a><br>
      <a href="http://127.0.0.1:8000/page1/" style="font-size: 20px; text-decoration: none; color: #2E2E2E; border: 2px solid #75B1FF; padding: 0 20px; border-radius: 50px; transition: all 0.3s ease-in-out;">▶희수's page◀</a><br>
      <a href="http://127.0.0.1:8000/page2/" style="font-size: 20px; text-decoration: none; color: #2E2E2E; border: 2px solid #75B1FF; padding: 0 20px; border-radius: 50px; transition: all 0.3s ease-in-out;">▶지빈's page◀</a><br>
      <a href="http://127.0.0.1:8000/page3/" style="font-size: 20px; text-decoration: none; color: #2E2E2E; border: 2px solid #75B1FF; padding: 0 20px; border-radius: 50px; transition: all 0.3s ease-in-out;">▶준이's page◀</a><br>
  </p>
  </div>
</div>
{% endblock %}
